html {
  height: 100%;
}
html body {
  height: 100%;
}
html body .xxprogress {
  width: 300px;
  position: relative;
}
html body .xxprogress > p {
  margin: 0px;
}
html body .xxprogress .progress-line {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #ccc;
  border-radius: 1000px;
  background: #cccccc;
  height: 4px;
  width: 300px;
}
html body .xxprogress .progress-line-active {
  display: inline-block;
  border-radius: 1000px;
  background: green;
  position: absolute;
  left: 0;
  top: 0px;
  background: #177ad8;
  height: 4px;
}
html body .xxprogress .progress-towage {
  display: inline-block;
  border-radius: 1000px;
  cursor: pointer;
  position: absolute;
  background: #177ad8;
  width: 16px;
  height: 16px;
  left: 0px;
  box-shadow: #177ad8 0px 0px 5px;
  top: -6px;
}
html body .xxprogress .xx-percent {
  display: inline-block;
  position: absolute;
  top: 0;
  right: -60px;
  border: none;
  width: 50px;
  color: black;
  text-align: center;
  outline: none;
  top: -9px;
}
